* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding:  20px 0;
  text-align: center;
}
.nav-list{
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom:1px solid black;
  border-top: 1px solid black;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.main{
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap:wrap;
  line-height: 600px
}
.main-color1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.main-color2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
.main-color3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.main-color4{
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}
.main-color5{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.main-color6{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.main-color7{
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.main-color8{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}
.main-color9{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}
.main-color10{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}
.main-color11{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}
.main-color12{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}
footer{
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: gray;
}
.footer-text{
  color: white;
}